@import "tailwindcss";

* {
  outline: none;
}

body {
  background: oklch(0.145 0 0);
}

.label-text {
  color: white;
}

button {
  @apply cursor-pointer;
}

input[type="text"],
input[type="password"] {
  @apply bg-neutral-800 text-neutral-300 rounded-lg w-full h-10 p-3;
}

button.auth {
  @apply bg-blue-800 rounded-sm text-white font-medium text-lg px-6 py-1;
}

input[type="checkbox"] {
  @apply cursor-pointer w-4 h-4 rounded-2xl;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}
